@import "utility.css";
:root {
    --primary: #007bff;
    --success: #28a745;
    --warning: #ffc107;
    --danger: #dc3545;

    --primary-light: #BFDBFE;
    --success-light: #A7F3D0;
    --warning-light: #FDE68A;
    --danger-light: #FEE2E2;
    --white: #ffffff;
    --off-gray: #f1f1f1;
    --black-light: #969696;
    --dark-black: #000000;

    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
}
code {
    font-family: monospace;
    font-size: 16px;
    color: #e83e8c;
    word-break: break-word;
}
/*=================================
=============Page Style============
===================================*/
section.wrapper {
    position: relative;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #866ec7;
    height: 100vh;
    color: #fff;
    position: relative;
    position: fixed;
    transition: ease-in-out 400ms;
}
.custom-menu {
    position: absolute;
    right: -40px;
    transition: ease-in-out 400ms;
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #866ec7;
    border-radius: 50%;
    display: none;
}
.bars {
    display: block;
    width: 30px;
    height: 4px;
    margin: 4px auto;
    border-radius: 5px;
    background-color: #ffffff;
}
#sidebar.active {
    transition: ease-in-out 400ms;
    margin-left: 0px;
}
.custom-menu.right-move {
    right: -20px;
}
.sidenav-brand {
    text-align: center;
    font-size: 2.5rem;
}
.sidenav-items-link a {
    color: var(--white);
}
main {
    max-width: 90%;
    margin-top: 0.5rem;
    margin-left: 300px;
    justify-self: center;
    align-self: center;
}
.section__header {
    color: #866ec7;
}
/* Responsive style Page */
@media screen and (max-width: 768px) {
    #sidebarCollapse {
        display: block;
    }
    #sidebar {
        margin-left: -250px;
    }
    main {
        max-width: 90%;
        margin: auto;
    }
}

/*===============
======bg & fo=======
=================*/
.bg-primary {
    color: var(--white);
    background-color: var(--primary);
}
.bg-success {
    color: var(--white);
    background-color: var(--success);
}
.bg-warning {
    color: var(--white);
    background-color: var(--warning);
}
.bg-danger {
    color: var(--white);
    background-color: var(--danger);
}
.f-primary {
    color: var(--primary);
}
.f-success {
    color: var(--success);
}
.f-warning {
    color: var(--warning);
}
.f-danger {
    color: var(--danger);
}
/*===============
======AVATOR=======
=================*/
.avator__cl{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.avator__sq {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
}
.xz2 {
    width: 5rem;
    height: 5rem;
}
/*===============
======ALERT=======
=================*/
.alert {
    padding: 0.5rem;
    font-weight: 500;
}
.alert-primary {
    color: var(--primary);
    background-color: var(--primary-light);
}
.alert-success {
    color: var(--success);
    background-color: var(--success-light);
}
.alert-warning {
    color: var(--warning);
    background-color: var(--warning-light);
}
.alert-danger {
    color: var(--danger);
    background-color: var(--danger-light);
}
/*===============
======BADGE======
=================*/
.badge__icon {
    width: 70px;
    position: relative;
}
.badge__icon .badge__count{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    border-radius: 5px;
}
/*================
======BUTTONS=====
=================*/
button {
    cursor: pointer;
    margin: 0.25rem;
}
.btn {
    cursor: pointer;
    outline: none;
    border: none;
    font-size: inherit;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.btn-icon {
    font-size: 2rem;
    border: 1px solid;
    border-radius: 50%;
}
.outline-primary {
    color: var(--primary);
    border: 1px solid var(--primary);
    background: none;
}
.outline-success {
    color: var(--success);
    border: 1px solid var(--success);
    background: none;
}
.outline-warning {
    color: var(--warning);
    border: 1px solid var(--warning);
    background: none;
}
.outline-danger {
    color: var(--danger);
    border: 1px solid var(--danger);
    background: none;
}
/*===============
======CARD=======
=================*/
.card {
    width: 100%;
    max-width: 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
    font-weight: inherit;
    font-family: inherit;
    border: 1px solid var(--black-light);
}
.card__header, .card__footer {
    padding: 0.5rem;
    background-color: var(--off-gray);
}
.card__body {
    padding: 0.5rem;
}
.card__title {
    font-size: 2rem;
    font-weight: 500;
}
.card__subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black-light);
}
.card__img {
    width: auto;
    max-width: inherit;
    overflow: auto;
}
.card__shadow {
    border: none;
    box-shadow: var(--shadow);
}
/*===============
======IMAGES=======
=================*/
.img-fluid {
    max-width: 100%;
    height: auto;
}
.thumbnail {
    border-radius: 5px;
    border: 2px solid var(--black-light);
}
.image-text {
    position: relative;
}
.rounded {
    border-radius: 50%;
}
/*===============
======LIST=======
=================*/
ul li{
    list-style-type: none;
    padding: 0.5rem;
    line-height: 1.8rem;
}
.list-bullet li {
    list-style-type: disc;
}
.list-decimal li {
    list-style-type: decimal-leading-zero;
}
.list-heading {
    font-weight: 500;
}
/*=====================
======NAVIGATION=======
=======================*/
nav.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow);
    padding: 0.5rem;
}
.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 500;
}
.navbar .navbar-items li.nav-route{
    display: inline;
}

/*=====================
=========INPUT=========
=======================*/

input {
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px !important;
    border: 1px solid;
    padding: 0.25rem;
    margin: 0.5rem 0;
    width: 50%;
}
.form-group {
    margin: 1rem 0;
    max-width: 50%;
}
.form-field {
    display: block;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    border: 1px solid;
    transition: border 0.3s ease;
}

.form-field:focus {
    outline: none;
}
.form-group {
    position: relative;
    display: flex;
    width: 100%;
}
.form-group > span, .form-group .form-field {
    white-space: nowrap;
    display: block;
}
.form-group > span:not(:first-child):not(:last-child), .form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.form-group > span:first-child, .form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}
.form-group > span:last-child, .form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child), .form-group .form-field:not(:first-child) {
    margin-left: -1px;
}
.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}
.form-group > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px; 
    border: 1px solid;
}
/*===============
======Modal=======
=================*/
.modal-window {
    position: fixed;
    background-color: #ffffff40;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: rgb(253, 253, 253);
}
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}

.modal-window > div {
    border-radius: 1rem;
}
.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}


